[submodule "modules"]
	path = modules
	url = https://github.com/ValgulNecron/gameplane-module.git
	branch = main
[submodule "website"]
	path = website
	url = https://github.com/ValgulNecron/gameplane-website.git
	branch = main
